/*
	BUG: Shadows don't work in mobile firefox

	NOTE: When changing default content width, change:
	>	title & subtitle padding
*/

@import url("../res/fonts/fonts.css");

:root {
	--rainbow: linear-gradient(to bottom right, red, orange, yellow, green, blue, purple, magenta);
	--icon-scale: 10%;
	--min-icon-scale: 100px;
	--content-width: 75%;
	--content-bg-color: #004;
	--content-padding: 15px;
	--min-content-width: 400px;
	--font-scale: 20px;
	/*--title-font: apple-tea;*/
	--title-font: rogueland-slab;
	--title-font-weight: bold;
	--page-font: lotuscoder;
	--page-font-weight: bold;
	--page-letter-spacing: 1.5px;
	--page-spacing: 10px;
	--page-shadow-radius: 10px;
	--page-shadow-size: 0px 0px var(--page-shadow-radius);
	--page-shadow: 0px 0px var(--page-shadow-radius) black;
	--page-bold-shadow: var(--page-shadow), var(--page-shadow), var(--page-shadow);
}

body {
	background-color:black;
	font-family: var(--page-font);
	font-weight:var(--page-font-weight);
	font-size: var(--font-scale);
	letter-spacing: var(--page-letter-spacing);
	color:white;
	background-image: url("../res/img/StandLORES.png");
	text-shadow: var(--page-bold-shadow);
}

.page {
	width: 100%;
	display: flex;
	justify-content: center;
	justify-items: center;
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait) {
	:root {
		--content-width: 100%;
		--icon-scale: 30%;
		--min-content-width: 400px;
		--font-scale: 25px;
		/*--title-font: apple-tea;*/
		--page-letter-spacing: 1.5px;
		--page-spacing: 20px;
	}

	body {
		font-size: calc(1.5 * var(--font-scale));
	}

	.page {
		margin-top: 5%;
	}
}

.site-title {
	color: white;
	margin-left: 25%;
	margin-top: -3%;
	margin-bottom: .5%;
	font-weight: var(--title-font-weight);
	font-family: var(--title-font);
	font-size: calc(2.5 * var(--font-scale));
	letter-spacing: calc(2 * var(--page-letter-spacing));
}

.site-subtitle {
	font-size: calc(0.9 * var(--font-scale));
	margin-left: 15%;
	font-weight: normal;
	font-family: var(--title-font);
	margin-bottom: var(--page-spacing);
	letter-spacing: calc(2 * var(--page-letter-spacing));
}

.page-content, .page-content-title {
	max-width: 95%;
	width: calc(95% - 2 * var(--content-padding));
	/*HACK: div won't center, so this will have to do*/
	margin-left: 2.5%;
	min-width: calc(var(--min-content-width) - 10%);
	background-color: #002;
	padding: var(--content-padding);
	border-radius: 10px;
	margin-top: -5px;
	justify-self: center;
}

.page-content {
	position: relative;
}

.page-content-title {
	padding-top: calc(2 * var(--content-padding));
	padding-bottom: calc(2 * var(--content-padding));
	justify-content: center;
	margin-bottom: -2px;
	text-align: center;
}

.page-links {
	width: 100%;
	height: 64px;
	border: none;
}

.page-header, .page-body {
	width: var(--content-width);
    min-width: calc(25px + var(--min-content-width));
    background-color: var(--content-bg-color);
	padding-top: 25px;
	border-radius: 10px;
	text-shadow: none;
	margin-bottom: var(--page-spacing);
	margin-top: var(--page-spacing);
	box-shadow: var(--page-shadow-size) var(--content-bg-color);
}

.logo-icon-big {
	--is-scale: max(var(--icon-scale), var(--min-icon-scale));
	--flipw: calc(100% - var(--content-width));
	margin: 1%;
	margin-left: calc(0.5 * var(--flipw));
	min-width: var(--min-icon-scale);
	min-height: var(--min-icon-scale);
	width: var(--icon-scale);
	height: var(--icon-scale);
	border-radius: var(--is-scale);
	background-color: black;
	box-shadow: var(--page-bold-shadow);
}

.page-header {
    min-height: 50px;
}

.page-body {
	min-height: 200px;
}

.page-content-collection {
	display: flex;
	justify-content: center;
	justify-items: center;
	justify-self: center;
	align-content: center;
	align-items: center;
	align-self: center;
	overflow: scroll;
}

.page-content-collection-item {
	text-align: center;
}

.member-mark {
	width: 20vw;
	min-width: 255px;
	margin-left: -5vw;
	margin-bottom: -30%;
	aspect-ratio: 1 / 1;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center;
	mask-position: center;
	-webkit-mask-size: cover;
	mask-size: cover;
	-webkit-mask-type: alpha;
	mask-type: alpha;
	position: inherit;
	z-index: -1;
}

.member-info {
	--mits: 0px 0px 3.5px black;
	--mits5: var(--mits),var(--mits),var(--mits),var(--mits),var(--mits);
	--mits10: var(--mits5), var(--mits5);
	--mits15: var(--mits5), var(--mits10);
	--mits20: var(--mits10), var(--mits10);
	margin-left: 20vw;
	text-shadow: var(--mits15);
	background-color: transparent;
	position: inherit;
	z-index: 1;
}

.member-image {
	width: 20vw;
	margin-left: -20vw;
	margin-bottom: -20vw;
	min-width: 192px;
	aspect-ratio: 1 / 1;
	background-color: black;
	border-radius: 10vw;
	border-color: blue;
	border-width: 5px;
	border-style: solid;
}

@media screen and (max-width: 900px) {
	.member-image {
		margin-bottom: -40%;
		margin-left: 60%;
	}
	.member-mark {
		margin-bottom: -50%;
	}
	.member-info {
		margin-left: 10%;
	}
}

@media screen and (max-width: 600px) {
	.member-image {
		margin-bottom: -50%;
		margin-left: 40%;
	}
	.member-mark {
		margin-bottom: -60%;
		margin-left: 0vw;
	}
	.member-info {
		margin-left: 0vw;
	}
}

.member-title {
	font-size: calc(2.5 * var(--font-scale));
	margin-bottom: -5px;
	margin-top: -5px;
}

.rainbow {
	background-image: var(--rainbow);
}

.society {
	background-image: radial-gradient(yellow, yellow, red, purple, purple, purple);
}

.royal {
	background-image: linear-gradient(to bottom, purple, purple, magenta, magenta);
}

.city-jeans {
	background-image: linear-gradient(to bottom, red, red, lightblue, lightblue);
}

.night-stripes {
	background-image: linear-gradient(to bottom left, indigo, darkblue, indigo, darkblue, indigo, darkblue);
}

.null-void {
	background-image: linear-gradient(to bottom, white, white);
}

.maritime {
	background-image: linear-gradient(to bottom, blue, white, rgb(0, 128, 100));
}

.scratch {
	-webkit-mask-image: url("../res/img/mask/scratch.png");
	mask-image: url("../res/img/mask/scratch.png");/**/
}

.yarn {
	-webkit-mask-image: url("../res/img/mask/Yarn.png");
	mask-image: url("../res/img/mask/Yarn.png");/**/
}

.spell-circle {
	-webkit-mask-image: url("../res/img/mask/SpellCircle.png");
	mask-image: url("../res/img/mask/SpellCircle.png");/**/
}

.leaves {
	-webkit-mask-image: url("../res/img/mask/Foliage.png");
	mask-image: url("../res/img/mask/Foliage.png");/**/
}

.grid {
	-webkit-mask-image: url("../res/img/mask/Grid.png");
	mask-image: url("../res/img/mask/Grid.png");/**/
}

.vortex {
	-webkit-mask-image: url("../res/img/mask/vortex.png");
	mask-image: url("../res/img/mask/vortex.png");/**/
}

@media only screen and (hover: none) and (pointer: coarse) and (orientation: portrait) {
	/*
	.page-header, .page-body {
		border-radius: 0px;
	}
	*/
	body {
		font-size: var(--font-scale);
	}

	.site-title {
		margin-left: 18%;
		font-size: 90px;
	}

	.site-subtitle {
		margin-left: 8%;
		font-size: 60px;
	}

	.page-header {
		margin-bottom: 5px;
		padding-bottom: 2%;
		font-size: 30px;
	}

	.page-body {
		font-size: 30px;
	}

	.logo-icon-big {
		margin-left: 36%;
	}
	
	.member-image {
		width: 50vw;
		margin-bottom: -60%;
		margin-left: 40%;
	}
	.member-mark {
		width: 50vw;
		margin-bottom: -40vw;
		margin-left: 0vw;
	}
	.member-info {
		margin-left: 0vw;
	}

	.member-title {
		width: 50%;
}
	
	/*
	@supports (scale) {
		.page-header, .page-body, .site-title, .site-subtitle {
			box-shadow: none;
		}
	}
	*/
}

.anchor-redirect {
	border: 0px;
	background-color: transparent;
	font-size: inherit;
	font-weight: inherit;
	font-family: var(--page-font);
	color: inherit;
	text-decoration: none;
}
